# ignore everything
*
# allow everything in the FogMon folder
!FogMon/
!test/

**/.vscode
**/__pycache__
# **/.*
**/build
**/CMakeCache.txt
**/cmake_install.cmake
**/Makefile
**/*.md
**/*Dockerfile
**/.dockerignore
**/docker-compose.yml