*.o
*.a
CMakeFiles
cmake_install.cmake
CMakeCache.txt
Makefile
FogMon
libsqlitefunctions.so
tests/CTestTestfile.cmake
tests/UnitTests
.vscode
build
tmp
Fed4Fire+/*.zip
Fed4Fire+/*.xml
Fed4Fire+/logs
Fed4Fire+/*.json
__pycache__/
*.pyc