[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "sigar"]
	path = sigar
	url = https://github.com/hyperic/sigar
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
